<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Здесь ничего нет</title>
    <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>

    <section class="form right">
        <form>
            <h1 style="margin-bottom: 40px;">Здесь ничего нет...</h1>

            <button onclick="location.href = '/';" type="button">Вернуться</button>
        </form>
    </section>

    <video class="animation left" autoplay muted loop>
        <source src="../img/traffic.mp4" type="video/mp4">
    </video>
    <span class="copyright left"><a href="https://dribbble.com/shots/15608015-Traffic">Видеоматериал создан Igor Kozak для 10Clouds</a></span>
</body>
</html>